a[disabled] {
  pointer-events: none;
  opacity: 0.6;
}

a:hover {
  opacity: 0.75;
}

/* .error-placeholder {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.42);
  padding-top: 1em;
  width: 100%;
} */

.w-50 {
  width: 50%;
}
